importFrom("Matrix","sparseMatrix", "Matrix", "t")
importFrom("GSEAlm","lmPerGene")
importFrom("parallel", "mclapply")
importFrom("limma", "symbols2indices", "romer", "mroast", "camera", "eBayes", "lmFit", 
           "topTable")
importClassFrom("bigmemory", "big.matrix")
importFrom("bigmemory", "mwhich")
importFrom("bigmemoryExtras", "BigMatrix")
importFrom("DESeq", "newCountDataSet", "getVarianceStabilizedData", "nbinomTest")
importFrom("genefilter", "rowttests")

export(
       "eSetOnDisk",
       "generate_gCMAP_NChannelSet",
       "eset_instances",
       "mapNmerge",
       "memorize",
       "signedRankSumTest",
       "splitPerturbations",
       "zScores"
       )

exportClasses(
              "SignedGeneSet",
              "CMAPCollection",
              "CMAPResults"
              )

exportMethods(
              "camera_score",
              "CMAPCollection",
              "cmapTable",
              "connectivity_score",
              "downIds",
              "docs",
              "docs<-",
              "effect",
              "effect<-",
              "errors",
              "errors<-",
              "featureScores",
              "fisher_score",
              "gsealm_score",
              "gsealm_jg_score",
              "geneIds",
              "geneIndex",
              "geneScores",
              "geneSign",
              "geneSign<-",
              "incidence",
              "induceCMAPCollection",
              "initialize",
              "labels",
              "labels<-",
              "mapIdentifiers",
              "mergeCollections",
              "members",
              "minSetSize",
              "plot",
              "padj",
              "padj<-",
              "pval",
              "pval<-",
              "mroast_score",
              "romer_score",
              "set",
              "set<-",
              "setSizes",
              "show",
              "signed",
              "signed<-",
              "SignedGeneSet",
              "nFound",
              "nFound<-",
              "trend",
              "trend<-",
              "upIds",
              "nSet",
              "nSet<-",
              "wilcox_score",
              "zscores"
              )
